version: '3'

services:
  bind:
    build: .
    image: dockerserver/bind:latest
    ports:
    - "53:53/udp"
    - "53:53/tcp"
    - "67:67/udp"
    - "10000:10000/tcp"
    volumes:
    - /srv/docker/bind:/data
